<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Search for books</h1>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 search">
      <form id="search-frm">
        <div class="input-group">
          <input type="text" class="form-control" id="keywords">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="search-btn">Search!</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->
  </div>
</header>

<div id="success" class="row">
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Congatulations!</strong> Your order was successfully processed.
  </div>
</div>

<div id="error" class="row">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Oops!</strong> <span id="errorMessage"></span>
  </div>
</div>

<div class="container minh">
  <div class="row">
    <div class="col-lg-12" ng-show="books.length != 0">
      <h1 class="page-header">Results</h1>
      <table id="booksTable" class="table table-hover">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, book) in books">
            <td><input type="text" class="amount" ng-attr-id="{{'amount' + key}}" /></td>
            <td>{{book.ItemAttributes.Title}}</td>
            <td>{{book.ItemAttributes.Author.join(", ")}}</td>
            <td>{{book.ItemAttributes.ISBN}}</td>
            <td>{{book.ItemAttributes.ListPrice.FormattedPrice || book.ItemAttributes.TradeInValue.FormattedPrice}}</td>
            <td><a class="pointer" data-toggle="modal" ng-attr-data-target="{{'#modal' + key}}" ng-click="updateGoodReads(key)">Reviews</a></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" id="order" data-toggle="modal" data-target="#orderModal">Order</button>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="bookModal" ng-repeat="(key, book) in books">
  <div class="modal fade" ng-attr-id="{{'modal' + key}}" tabindex="-1" role="dialog" ng-attr-aria-labelledby="{{'modalLabel' + key}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" ng-attr-id="{{'modalLabel' + key}}">{{book.ItemAttributes.Title}}</h4>
        </div>
        <div class="modal-body" ng-attr-id="{{'modalbody' + key}}">
          <div><strong>Rating <span ng-attr-id="{{'rating' + key}}"></span></strong></div>
          <div ng-attr-id="{{'review' + key}}"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="orderModal">
  <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="orderModalLabel">Finalize order</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <h1>Your order</h1>
              <table id="booksTable" class="table table-hover">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Title</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, book) in cart">
                    <td>{{book.amount}}</td>
                    <td>{{books[key].ItemAttributes.Title}}</td>
                    <td>{{book.price | currency}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="total"><strong>Total price: {{totalAmount | currency}}</strong></div>
              <br/>

              <h1>Bank details</h1>
              <form role="form" name="bankForm">
                <div class="form-group">
                  <label>Choose your bank</label>
                  <label class="radio-inline">
                    <input type="radio" name="radioType" ng-model="bank.Type" ng-value="0" class="ng-pristine ng-untouched ng-valid"> My Bank
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="radioType" ng-model="bank.Type" ng-value="1" class="ng-pristine ng-untouched ng-valid"> Another Bank
                  </label>
                </div>
                <div class="form-group">
                  <label for="AccountNumberInput">Account Number</label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="AccountNumberInput" ng-model="bank.AccountNumber">
                </div>
                <div class="form-group">
                  <label for="AccountNameInput">Account Name</label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="AccountNameInput" ng-model="bank.AccountName">
                </div>
                <div class="form-group">
                  <label for="ExpirationDateInput">Expiration Date</label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="ExpirationDateInput" ng-model="bank.ExpirationDate">
                </div>
                <div class="form-group">
                  <label for="SecurityNumberInput">Security Number</label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="SecurityNumberInput" ng-model="bank.SecurityNumber">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="emptyCart">Empty cart</button>
          <button type="button" class="btn btn-primary" id="sendOrder">Send order</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="footer">
  <div class="container">
      <p>&copy; Karens Grigorjancs | Web Services BookShop Assignment</p>
  </div>
</footer>
